

/* GLOBAL */
html{
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.2;
  font-family: 'Inter',"Arial", sans-serif;
  background-color: #E7E7E7;
  color: #fff;
}

*:focus{
  outline:  2px dashed #3A2BF8;
  outline-offset: 2px;
}

img{
  max-width: 100%;
  height: auto;
}


/* CONTAINER */
.container{
  width: 100%;
  max-width: 1252px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN-CONTENT */
.main-content{
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
}

.banner-ad {
  background-image: url("../img/bg-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.banner-ad-info{
  padding-top: 55px;
  padding-left: 60px;
  padding-right: 120px;
  color: #fff;
}

.banner-ad-top {
  display: inline-block;
  border: 1px solid #FFFFFF;
  border-radius: 41px;
  padding: 5px 15px;
  margin-bottom: 60px;
  font-size: 14px;
  font-weight: 500;
}

.banner-ad-heading {
  width: 389px;
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 46px;
}

.banner-ad-text {
  width: 347px;
  margin-top: 0;
  margin-bottom: 200px;
  font-size: 16px;
  line-height: 26px;
}

.banner-ad-propsal {
  display: block;
  background-color: #4DC490;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
}


/* SIGN-UP */

.sing-up {
  margin-left: 12px;
  padding-top: 55px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 40px;
  background-color: #fff;
  border-radius: 20px;
}

.sign-up-title {
  width: 428px;
  margin-top: 0;
  margin-bottom: 79px;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  color: #000;
}

.sing-up-form{
  width: 450px;
}


input{
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #555555;
  outline: none;
  padding-bottom: 11px;
}

input:not(:nth-child(4)){
  margin-bottom: 35px;
}

input:focus{
  border-bottom: 2px solid #000;
  outline-style: none;
}


.claim-sign-up-btn {
  display: block;
  width: 100%;
  margin-top: 63px;
  margin-bottom: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 0;
  background-color: #655AF2;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  transition:  background-color 0.4s ease;
}

.claim-sign-up-btn:active{
  background-color: #3A2BF8;
}

.claim-sign-up-btn:focus{
  outline:  2px dashed #3A2BF8;
  outline-offset: 2px;
}

.alert-box{
  text-align: center;
}

.alert-text{
  display: inline-block;
  font-size: 11px;
  line-height: 15px;
  color: #555555;
}
.agreement-link {
  display: inline-block;
  font-size: 11px;
  line-height: 15px;
  color: #F03535;
}


/* MEDIA */

@media only screen and (max-width:600px) {

  .main-content{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 0;
  }

  .container{
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .banner-ad-info{
    padding-top: 45px;
    padding-left: 25px;
    padding-right: 79px;
  }

  .banner-ad-top {
    border-radius: 45px;
    margin-bottom: 40px;
    font-size: 10px;
  }

  .banner-ad-heading {
    width: 241px;
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 38px;
  }

  .banner-ad-text {
    width: 210px;
    margin-bottom: 120px;
    font-size: 14px;
    line-height: 24px;
  }

  .banner-ad-propsal {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  /* SIGN-UP */

  .sing-up {
    margin-left: 0;
    margin-top: 12px;
    padding-top: 45px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 45px;
    border-radius: 20px;
  }

  .sign-up-title {
    width: 259px;
    margin-bottom: 45px;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
  }

  .sing-up-form{
    width: 295px;
  }

  input{
    padding-bottom: 10px;
  }

  .claim-sign-up-btn {
    display: block;
    width: 295px;
    margin-top: 70px;
    border-radius: 10px;
  }

  .alert-box{
    width: 295px;
    text-align: center;
  }

  .alert-text{
    font-size: 10px;
    line-height: 14px;
  }
}

/* BACKGROUND-IMAGE FOR RETINA SCREENS */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .banner-ad {
    background-image: url("../img/bg-banner.jpg");
  }
}